// INCONSOLATA

@font-face {
  font-family: 'Inconsolata';
  src : url('~@/assets/fonts/Inconsolata/Inconsolata-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src : url('~@/assets/fonts/Inconsolata/Inconsolata-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}


// ROBOTO


@font-face {
  font-family: 'Roboto';
  src : url('~@/assets/fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src : url('~@/assets/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src : url('~@/assets/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src : url('~@/assets/fonts/Roboto/Roboto-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src : url('~@/assets/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src : url('~@/assets/fonts/Roboto/Roboto-Black.ttf');
  font-weight: 900;
  font-style: normal;
}


// BARKERVILLE


@font-face {
  font-family: 'Baskerville';
  src : url('~@/assets/fonts/Baskerville/LibreBaskerville-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville';
  src : url('~@/assets/fonts/Baskerville/LibreBaskerville-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
